# Workshop 1 
In this workshop, you are going to learn about utlizing regular expressions for text matching, NLTK, Spacy for NLP as well as a visualization technique.

## 1- Regular expressions

Regular expressions are a powerful language for matching text patterns. This page gives a basic introduction to regular expressions themselves sufficient for our Python exercises and shows how regular expressions work in Python. The Python "re" module provides regular expression support.
In Python a regular expression search is typically written as:

In [1]:
import re

pat = ''
test_str = '' 
match = re.search(pat, test_str)

The re.search() method takes a regular expression pattern and a string and searches for that pattern within the string. If the search is successful, search() returns a match object or None otherwise. As shown in the following example which searches for the pattern 'word:' followed by a 3 letter word:

In [ ]:
test_str = 'an example word:cat!!'
match = re.search(r'word:\w+', test_str)
match.group()

The code ```match = re.search(pat, str)``` stores the search result in a variable named "match".

The 'r' at the start of the pattern string designates a python "raw" string which passes through backslashes without change which is very handy for regular expressions.

### Basic Patterns

The power of regular expressions is that they can specify patterns, not just fixed characters. Here are the most basic patterns which match single chars:

* a, X, 9, < -- ordinary characters just match themselves exactly. The meta-characters which do not match themselves because they have special meanings are: . ^ $ * + ? { [ ] \ | ( ) (details below)

* . (a period) -- matches any single character except newline '\n'
* \w -- (lowercase w) matches a "word" character: a letter or digit or underbar [a-zA-Z0-9_]. Note that although "word" is the mnemonic for this, it only matches a single word char, not a whole word. \W (upper case W) matches any non-word character.
* \b -- boundary between word and non-word
* \s -- (lowercase s) matches a single whitespace character -- space, newline, return, tab, form [ \n\r\t\f]. \S (upper case S) matches any non-whitespace character.
* \t, \n, \r -- tab, newline, return
* \d -- decimal digit [0-9] (some older regex utilities do not support but \d, but they all support \w and \s)
* ^ = start, $ = end -- match the start or end of the string
* \ -- inhibit the "specialness" of a character. So, for example, use \. to match a period or \\ to match a slash. If you are unsure if a character has special meaning, such as '@', you can put a slash in front of it, \@, to make sure it is treated just as a character.

For more details please refer to the week 2 slides and the chapter provided for further reading.

### Basic Examples

The basic rules of regular expression search for a pattern within a string are:

The search proceeds through the string from start to end, stopping at the first match found
All of the pattern must be matched, but not all of the string
If ```match = re.search(pat, str)``` is successful, match is not None and in particular match.group() is the matching text

In [ ]:
match = re.search(r'iii', 'piiig') 
print(match)

In [ ]:
match = re.search(r'igs', 'piiig') 
print(match)

In [ ]:
match = re.search(r'..g', 'piiig')
print(match)

In [ ]:
match = re.search(r'\d\d\d', 'p123g') 
print(match)

In [ ]:
match = re.search(r'\w\w\w', '@@abcd!!') 
print(match)

### Repetition

Things get more interesting when you use + and * to specify repetition in the pattern

* \+ -- 1 or more occurrences of the pattern to its left, e.g. 'i+' = one or more i's
* \* -- 0 or more occurrences of the pattern to its left
* ? -- match 0 or 1 occurrences of the pattern to its left

### Leftmost & Largest
First the search finds the leftmost match for the pattern, and second it tries to use up as much of the string as possible -- i.e. + and * go as far as possible (the + and * are said to be "greedy").

### Repetition Examples

In [ ]:
match = re.search(r'pi+', 'piiig')
print(match)

In [ ]:
match = re.search(r'i+', 'piigiiii')
print(match)

In [ ]:
match = re.search(r'\d\s*\d\s*\d', 'xx1 2   3xx')
print(match)

In [ ]:
match = re.search(r'\d\s*\d\s*\d', 'xx12  3xx')
print(match)

In [ ]:
match = re.search(r'\d\s*\d\s*\d', 'xx123xx')
print(match)

In [ ]:
match = re.search(r'^b\w+', 'foobar')
print(match)

In [ ]:
match = re.search(r'b\w+', 'foobar')
print(match)

### Emails Example

Suppose you want to find the email address inside the string 'xyz alice-b@students.latrobe.edu.au purple monkey'. We'll use this as a running example to demonstrate more regular expression features. Here's an attempt using the pattern r'\w+@\w+':

In [ ]:
test_email = '1112-2233@students.latrobe.edu.au monkey dishwasher'
match = re.search(r'\w+@\w+', test_email)
print(match.group())

The search does not get the whole email address in this case because the \w does not match the '-' or '.' in the address. We'll fix this using the regular expression features below.

In [ ]:
match = re.search(r'[\w.-]+@[\w.-]+', test_email)
print(match.group() )

### Group Extraction

The "group" feature of a regular expression allows you to pick out parts of the matching text. Suppose for the emails problem that we want to extract the username and host separately. To do this, add parenthesis ( ) around the username and host in the pattern, like this: r'([\w.-]+)@([\w.-]+)'. In this case, the parenthesis do not change what the pattern will match, instead they establish logical "groups" inside of the match text. On a successful search, match.group(1) is the match text corresponding to the 1st left parenthesis, and match.group(2) is the text corresponding to the 2nd left parenthesis. The plain match.group() is still the whole match text as usual.

In [ ]:
test_str = 'purple 1112-2233@students.latrobe.edu.au monkey dishwasher'
match = re.search(r'([\w.-]+)@([\w.-]+)', test_str)
print(match.group())
print(match.groups())  
print(match.group(1)) 
print(match.group(2))

### findall

findall() is probably the single most powerful function in the re module. Above we used re.search() to find the first match for a pattern. findall() finds *all* the matches and returns them as a list of strings, with each string representing one match.

In [ ]:
test_str = 'purple 1112-2233@students.latrobe.edu.au, blah monkey bob@abc.com blah dishwasher'

emails = re.findall(r'[\w\.-]+@[\w\.-]+', test_str) 
for email in emails:
  # do something with each found email string
  print(email)

### Execise 1.1

Write regular expressions to capture the following requirements.

#### 1. cleanup_address
Given 
* 50 Fifth Ave. New York, NY 10012
* 100 Ninth Ave. Brooklyn, NY 11416
* 9 Houston St. Juneau, AK 99999
* 2800 Springfield Rd. Omaha, NE 55555

Change to:
* 50,Fifth Ave.,New York,NY,10012
* 100,Ninth Ave.,Brooklyn,NY,11416
* 9,Houston St.,Juneau,AK,99999
* 2800,Springfield Rd.,Omaha,NE,55555

In [2]:
# Part 1
def cleanup_address(address):
  match = re.search(r'(\d+)\s(\w+\s\w+\.)\s([\w\s]+)\,\s([\w]{2})\s(\d{5})', address)
  return match.group(1)+','+match.group(2)+','+match.group(3)+','+match.group(4)+','+match.group(5)

addresses = ['50 Fifth Ave. New York, NY 10012',
             '100 Ninth Ave. Brooklyn, NY 11416',
             '9 Houston St. Juneau, AK 99999',
             '2800 Springfield Rd. Omaha, NE 55555']

print(*(cleanup_address(address) for address in addresses))

50,Fifth Ave.,New York,NY,10012 100,Ninth Ave.,Brooklyn,NY,11416 9,Houston St.,Juneau,AK,99999 2800,Springfield Rd.,Omaha,NE,55555

#### 2. extract_names

The Social Security administration has this neat data by year of what names are most popular for babies born that year in the USA (see [social security baby names](http://www.socialsecurity.gov/OACT/babynames/)).

Implement the extract_names(filename) function which takes the filename of a baby1990.html file and returns the data from the file as a single list -- the year string at the start of the list followed by the name-rank strings in alphabetical order. ```['2006', 'Aaliyah 91', 'Abagail 895', 'Aaron 57', ...]```. Note that for parsing webpages in general, regular expressions don't do a good job, but these webpages have a simple and consistent format.

Rather than treat the boy and girl names separately, we'll just lump them all together. In some years, a name appears more than once in the html, but we'll just use one number per name. Optional: make the algorithm smart about this case and choose whichever number is smaller.

Build the program as a series of small milestones, getting each step to run/print something before trying the next step. This is the pattern used by experienced programmers -- build a series of incremental milestones, each with some output to check, rather than building the whole program in one huge step.

Printing the data you have at the end of one milestone helps you think about how to re-structure that data for the next milestone. Here are some suggested milestones:

* Extract all the text from the file and print it
* Find and extract the year and print it
* Extract the names and rank numbers and print them
* Get the names data into a dict and print it
* Build the [year, 'name rank', ... ] list and print it

The function should return the list.

Tto make the list into a reasonable looking summary text for printing, here's a clever use of join: text = '\n'.join(mylist) + '\n'

In [4]:
def extract_names(filename):
  """
  Given a file name for baby.html, returns a list starting with the year string
  followed by the name-rank strings in alphabetical order.
  ['2006', 'Aaliyah 91', Aaron 57', 'Abagail 895', ' ...]
  """
  # open up the file provided
  with open(filename) as f:
    content = f.read()

    # find the year
    year = re.search(r'(?:<h1>Popular Names by Birth Year<\/h1>.*)(\d{4})',content).group(1)
    # find the names and ranks
    matches = re.findall(r'(?:<tr align="right"><td>)(\d+)(?:</td><td>)(\w+)(?:</td><td>)(\w+)', content)

  # initialize the list to be returned
  name_list = [year]
  
  # loop over the table of names
  for match in matches:
    # unpack the rank, male name, female name
    rank, male, female = match
    name_list.append(male + " " + rank)
    name_list.append(female + " " + rank)

  name_list = sorted(name_list)
  return name_list


filename = 'babynames/baby2008.html'
extract_names(filename)

['2009',
 'Aaden 343',
 'Aaliyah 77',
 'Aarav 921',
 'Aaron 50',
 'Abagail 874',
 'Abbey 822',
 'Abbie 737',
 'Abbigail 508',
 'Abby 259',
 'Abdiel 984',
 'Abdullah 953',
 'Abel 360',
 'Abigail 8',
 'Abigayle 936',
 'Abraham 187',
 'Abram 548',
 'Abril 522',
 'Ace 714',
 'Ada 598',
 'Adalyn 526',
 'Adalynn 845',
 'Adam 72',
 'Adan 299',
 'Addison 12',
 'Addison 820',
 'Addisyn 556',
 'Addyson 240',
 'Adelaide 551',
 'Adeline 361',
 'Adelyn 577',
 'Aden 254',
 'Adison 900',
 'Aditya 702',
 'Adolfo 731',
 'Adonis 854',
 'Adrian 56',
 'Adriana 124',
 'Adrianna 173',
 'Adriel 584',
 'Adrien 727',
 'Adrienne 786',
 'Adyson 648',
 'Aedan 821',
 'Agustin 740',
 'Ahmad 559',
 'Ahmed 576',
 'Aidan 59',
 'Aiden 16',
 'Aidyn 699',
 'Aileen 483',
 'Aimee 779',
 'Ainsley 441',
 'Aisha 764',
 'Aiyana 595',
 'Akira 705',
 'Alaina 223',
 'Alan 135',
 'Alana 166',
 'Alani 913',
 'Alanna 461',
 'Alannah 938',
 'Alayna 285',
 'Albert 372',
 'Alberto 338',
 'Alden 916',
 'Aldo 569',
 'Aleah 627',
 'Alec 390',
 'Aleena 664',
 'Alejandra 255',
 'Alejandro 105',
 'Alena 686',
 'Alessandra 407',
 'Alessandro 624',
 'Alex 85',
 'Alexa 50',
 'Alexander 6',
 'Alexandra 61',
 'Alexandria 189',
 'Alexia 213',
 'Alexis 15',
 'Alexis 169',
 'Alexus 721',
 'Alexzander 674',
 'Alfonso 585',
 'Alfred 787',
 'Alfredo 388',
 'Ali 398',
 'Ali 866',
 'Alia 929',
 'Aliana 907',
 'Alice 326',
 'Alicia 178',
 'Alijah 469',
 'Alina 245',
 'Alisa 867',
 'Alisha 642',
 'Alison 273',
 'Alissa 438',
 'Alisson 783',
 'Alivia 181',
 'Aliya 668',
 'Aliyah 192',
 'Aliza 861',
 'Allan 552',
 'Allen 294',
 'Allie 230',
 'Allison 32',
 'Allisson 418',
 'Ally 766',
 'Allyson 266',
 'Alma 792',
 'Alondra 201',
 'Alonso 660',
 'Alonzo 542',
 'Alvaro 639',
 'Alvin 437',
 'Alyson 480',
 'Alyssa 16',
 'Alyvia 970',
 'Amanda 138',
 'Amani 583',
 'Amara 578',
 'Amare 677',
 'Amari 344',
 'Amari 393',
 'Amaris 987',
 'Amaya 198',
 'Amber 165',
 'Amelia 68',
 'Amelie 781',
 'America 503',
 'Amiah 963',
 'Amina 763',
 'Amir 297',
 'Amira 436',
 'Amirah 765',
 'Amiya 660',
 'Amiyah 479',
 'Amy 132',
 'Amya 493',
 'Ana 169',
 'Anabel 955',
 'Anabella 919',
 'Anabelle 710',
 'Anahi 437',
 'Anastasia 360',
 'Anaya 439',
 'Anderson 326',
 'Andre 220',
 'Andrea 71',
 'Andreas 969',
 'Andres 158',
 'Andrew 12',
 'Andy 211',
 'Angel 160',
 'Angel 36',
 'Angela 133',
 'Angelica 257',
 'Angelina 69',
 'Angeline 784',
 'Angelique 687',
 'Angelo 284',
 'Angie 340',
 'Anika 573',
 'Aniya 272',
 'Aniyah 187',
 'Ann 830',
 'Anna 26',
 'Annabel 801',
 'Annabella 589',
 'Annabelle 188',
 'Annalise 702',
 'Anne 499',
 'Annie 392',
 'Annika 402',
 'Ansley 719',
 'Anthony 7',
 'Antoine 693',
 'Anton 832',
 'Antonio 102',
 'Antony 895',
 'Antwan 879',
 'Anya 375',
 'April 333',
 'Arabella 657',
 'Araceli 767',
 'Aracely 868',
 'Areli 848',
 'Arely 610',
 'Ari 532',
 'Aria 575',
 'Ariana 81',
 'Arianna 66',
 'Ariel 217',
 'Ariel 570',
 'Ariella 923',
 'Arielle 619',
 'Arjun 755',
 'Armando 293',
 'Armani 583',
 'Armani 755',
 'Arnav 974',
 'Aron 600',
 'Arthur 363',
 'Arturo 352',
 'Aryan 669',
 'Aryana 753',
 'Aryanna 613',
 'Asa 633',
 'Ashanti 930',
 'Asher 206',
 'Ashlee 535',
 'Ashleigh 927',
 'Ashley 18',
 'Ashly 838',
 'Ashlyn 153',
 'Ashlynn 282',
 'Ashton 121',
 'Ashtyn 975',
 'Asia 386',
 'Aspen 700',
 'Athena 455',
 'Atticus 689',
 'Aubree 276',
 'Aubrey 42',
 'Aubrie 470',
 'Audrey 44',
 'Audrina 353',
 'August 482',
 'Augustus 795',
 'Aurora 288',
 'Austin 55',
 'Autumn 89',
 'Ava 5',
 'Avah 972',
 'Averi 966',
 'Averie 768',
 'Avery 216',
 'Avery 38',
 'Axel 272',
 'Ayaan 908',
 'Ayana 814',
 'Ayanna 579',
 'Aydan 567',
 'Ayden 91',
 'Aydin 627',
 'Ayla 406',
 'Aylin 557',
 'Azaria 954',
 'Azul 611',
 'Bailee 513',
 'Bailey 790',
 'Bailey 82',
 'Barbara 758',
 'Baron 991',
 'Barrett 609',
 'Baylee 419',
 'Beatrice 833',
 'Beau 397',
 'Beckett 480',
 'Beckham 893',
 'Belen 869',
 'Belinda 747',
 'Bella 122',
 'Ben 611',
 'Benjamin 25',
 'Bennett 361',
 'Bentley 937',
 'Bernard 940',
 'Bethany 318',
 'Bianca 204',
 'Billy 564',
 'Blaine 614',
 'Blake 90',
 'Blaze 866',
 'Bo 840',
 'Bobby 525',
 'Boston 563',
 'Braden 156',
 'Bradley 201',
 'Brady 94',
 'Bradyn 612',
 'Braeden 346',
 'Braedon 822',
 'Braelyn 563',
 'Braiden 494',
 'Branden 586',
 'Brandon 33',
 'Branson 873',
 'Braxton 202',
 'Brayan 333',
 'Brayden 51',
 'Braydon 325',
 'Braylen 572',
 'Braylon 252',
 'Breanna 168',
 'Brenda 342',
 'Brendan 207',
 'Brenden 353',
 'Brendon 578',
 'Brenna 420',
 'Brennan 263',
 'Brennen 651',
 'Brent 558',
 'Brenton 975',
 'Brett 311',
 'Bria 924',
 'Brian 87',
 'Briana 145',
 'Brianna 23',
 'Brice 710',
 'Bridger 978',
 'Bridget 394',
 'Brielle 338',
 'Briley 819',
 'Brisa 787',
 'Britney 689',
 'Brittany 421',
 'Brock 277',
 'Broderick 899',
 'Brodie 421',
 'Brody 70',
 'Brogan 833',
 'Bronson 987',
 'Brooke 52',
 'Brooklyn 47',
 'Brooklynn 182',
 'Brooks 601',
 'Bruce 476',
 'Bruno 801',
 'Bryan 82',
 'Bryanna 512',
 'Bryant 404',
 'Bryce 116',
 'Brycen 483',
 'Brylee 531',
 'Brynlee 895',
 'Brynn 323',
 'Bryson 178',
 'Byron 451',
 'Cade 310',
 'Caden 95',
 'Cadence 212',
 'Cael 834',
 'Caiden 250',
 'Cailyn 738',
 'Caitlin 235',
 'Caitlyn 227',
 'Cale 623',
 'Caleb 34',
 'Cali 426',
 'Callie 233',
 'Callum 976',
 'Calvin 228',
 'Camden 204',
 'Cameron 320',
 'Cameron 53',
 'Camila 83',
 'Camilla 634',
 'Camille 300',
 'Campbell 762',
 'Camren 675',
 'Camron 445',
 'Camryn 244',
 'Camryn 900',
 'Cannon 631',
 'Cara 463',
 'Carina 901',
 'Carissa 727',
 'Carl 490',
 'Carla 584',
 'Carlee 701',
 'Carleigh 996',
 'Carley 637',
 'Carlie 673',
 'Carlo 992',
 'Carlos 73',
 'Carly 197',
 'Carmelo 941',
 'Carmen 262',
 'Carolina 355',
 'Caroline 94',
 'Carolyn 678',
 'Carsen 993',
 'Carson 89',
 'Carter 65',
 'Case 956',
 'Casey 336',
 'Casey 466',
 'Cash 253',
 'Cason 571',
 'Cassandra 284',
 'Cassidy 228',
 'Cassie 908',
 'Cassius 945',
 'Catalina 707',
 'Catherine 149',
 'Cayden 173',
 'Caylee 519',
 'Cecelia 756',
 'Cecilia 270',
 'Cedric 650',
 'Celeste 397',
 'Celia 757',
 'Cesar 165',
 'Chace 655',
 'Chad 454',
 'Chaim 858',
 'Chana 971',
 'Chance 255',
 'Chandler 457',
 'Chanel 775',
 'Charity 793',
 'Charlee 820',
 'Charles 63',
 'Charlie 307',
 'Charlie 736',
 'Charlize 905',
 'Charlotte 87',
 'Chase 67',
 'Chasity 956',
 'Chaya 749',
 'Chaz 959',
 'Chelsea 221',
 'Cherish 739',
 'Cheyanne 496',
 'Cheyenne 159',
 'Chloe 10',
 'Chris 348',
 'Christian 23',
 'Christina 200',
 'Christine 539',
 'Christopher 9',
 'Ciara 324',
 'Cierra 788',
 'Cindy 434',
 'Claire 62',
 'Clara 206',
 'Clare 679',
 'Clarence 938',
 'Clarissa 560',
 'Clark 698',
 'Claudia 417',
 'Clay 849',
 'Clayton 233',
 'Clinton 856',
 'Cloe 915',
 'Coby 835',
 'Cody 122',
 'Cohen 356',
 'Colby 273',
 'Cole 84',
 'Coleman 741',
 'Colin 114',
 'Collin 143',
 'Colt 533',
 'Colten 408',
 'Colton 98',
 'Conner 163',
 'Connor 57',
 'Conor 517',
 'Conrad 758',
 'Cooper 92',
 'Cora 322',
 'Corbin 262',
 'Cordell 784',
 'Corey 289',
 'Corinne 841',
 'Cornelius 988',
 'Cortez 990',
 'Cory 459',
 'Courtney 269',
 'Craig 588',
 'Cristal 759',
 'Cristian 150',
 'Cristina 603',
 'Cristofer 829',
 'Cristopher 492',
 'Cruz 367',
 'Crystal 252',
 'Cullen 781',
 'Curtis 380',
 'Cynthia 310',
 'Cyrus 512',
 'Dahlia 745',
 'Daisy 161',
 'Dakota 226',
 'Dakota 267',
 'Dale 839',
 'Dalia 920',
 'Dallas 334',
 'Dalton 218',
 'Damari 997',
 'Damarion 725',
 'Damaris 808',
 'Damian 133',
 'Damien 189',
 'Damion 597',
 'Damon 472',
 'Dana 467',
 'Dane 350',
 'Dangelo 970',
 'Dania 989',
 'Danica 336',
 'Daniel 5',
 'Daniela 121',
 'Daniella 303',
 'Danielle 144',
 'Danika 486',
 'Danna 424',
 'Danny 330',
 'Dante 291',
 'Daphne 536',
 'Darian 602',
 'Darien 843',
 'Dario 850',
 'Darion 890',
 'Darius 318',
 'Darnell 730',
 'Darrell 634',
 'Darren 385',
 'Darryl 754',
 'Darwin 788',
 'Dashawn 810',
 'Davian 690',
 'David 14',
 'Davin 594',
 'Davion 440',
 'Davis 410',
 'Davon 712',
 'Dawson 269',
 'Dax 766',
 'Dayami 750',
 'Dayana 410',
 'Dayanara 558',
 'Dayton 484',
 'Deacon 642',
 'Dean 345',
 'Deandre 460',
 'Deangelo 739',
 'Deanna 592',
 'Deborah 809',
 'Declan 347',
 'Deegan 980',
 'Deja 893',
 'Delaney 209',
 'Delilah 193',
 'Demarcus 708',
 'Demarion 905',
 'Demetrius 520',
 'Denise 364',
 'Denisse 959',
 'Dennis 370',
 'Denzel 942',
 'Deon 830',
 'Derek 159',
 'Dereon 882',
 'Derick 733',
 'Derrick 286',
 'Deshawn 595',
 'Desirae 983',
 'Desiree 381',
 'Desmond 413',
 'Destinee 616',
 'Destiney 714',
 'Destiny 48',
 'Devan 746',
 'Deven 683',
 'Devin 109',
 'Devon 243',
 'Devyn 847',
 'Dexter 715',
 'Diamond 449',
 'Diana 137',
 'Diego 68',
 'Dillan 875',
 'Dillon 264',
 'Dixie 964',
 'Diya 995',
 'Dominic 93',
 'Dominick 240',
 'Dominik 577',
 'Dominique 763',
 'Dominique 785',
 'Donald 331',
 'Donavan 964',
 'Donna 973',
 'Donovan 214',
 'Donte 782',
 'Dorian 442',
 'Douglas 424',
 'Drake 230',
 'Draven 670',
 'Drew 244',
 'Dulce 302',
 'Duncan 717',
 'Dustin 303',
 'Dwayne 687',
 'Dylan 31',
 'Dylan 532',
 'Ean 869',
 'Easton 302',
 'Eddie 438',
 'Eden 232',
 'Eden 896',
 'Edgar 193',
 'Edith 806',
 'Eduardo 141',
 'Edward 148',
 'Edwin 175',
 'Efrain 753',
 'Eileen 760',
 'Elaina 462',
 'Elaine 742',
 'Eleanor 256',
 'Elena 211',
 'Eli 100',
 'Elian 817',
 'Eliana 203',
 'Elianna 1000',
 'Elias 157',
 'Eliezer 986',
 'Elijah 22',
 'Elisa 622',
 'Elisabeth 525',
 'Elise 218',
 'Elisha 636',
 'Eliza 328',
 'Elizabeth 9',
 'Ella 19',
 'Elle 494',
 'Ellen 672',
 'Elliana 530',
 'Ellie 167',
 'Elliot 332',
 'Elliott 386',
 'Ellis 798',
 'Elsa 724',
 'Elsie 740',
 'Elvis 713',
 'Elyse 695',
 'Emanuel 260',
 'Emelia 960',
 'Emely 305',
 'Emerson 290',
 'Emerson 474',
 'Emery 468',
 'Emery 744',
 'Emilee 459',
 'Emilia 401',
 'Emiliano 315',
 'Emilie 690',
 'Emilio 281',
 'Emily 3',
 'Emma 1',
 'Emmalee 743',
 'Emmanuel 146',
 'Emmett 547',
 'Emmy 957',
 'Enrique 279',
 'Enzo 606',
 'Eric 86',
 'Erica 293',
 'Erick 179',
 'Erik 213',
 'Erika 331',
 'Erin 164',
 'Ernest 789',
 'Ernesto 412',
 'Esmeralda 254',
 'Esperanza 967',
 'Essence 979',
 'Esteban 366',
 'Esther 274',
 'Estrella 403',
 'Ethan 3',
 'Ethen 909',
 'Eugene 691',
 'Eva 114',
 'Evan 38',
 'Evangeline 450',
 'Eve 655',
 'Evelin 811',
 'Evelyn 54',
 'Everett 383',
 'Evie 853',
 'Ezekiel 241',
 'Ezequiel 519',
 'Ezra 292',
 'Fabian 288',
 'Faith 91',
 'Fatima 249',
 'Felicity 698',
 'Felipe 535',
 'Felix 354',
 'Fernanda 423',
 'Fernando 164',
 'Finley 665',
 'Finley 818',
 'Finn 368',
 'Finnegan 647',
 'Fiona 347',
 'Fisher 885',
 'Fletcher 994',
 'Frances 796',
 'Francesca 491',
 'Francis 656',
 'Francisco 172',
 'Franco 826',
 'Frank 278',
 'Frankie 762',
 'Franklin 467',
 'Freddy 707',
 'Frederick 523',
 'Frida 894',
 'Gabriel 24',
 'Gabriela 131',
 'Gabriella 35',
 'Gabrielle 79',
 'Gael 296',
 'Gage 144',
 'Gaige 791',
 'Garrett 160',
 'Gary 426',
 'Gauge 736',
 'Gaven 918',
 'Gavin 30',
 'Gavyn 626',
 'Gemma 888',
 'Genesis 95',
 'Genevieve 325',
 'George 153',
 'Georgia 312',
 'Geovanni 934',
 'Gerald 603',
 'Gerardo 290',
 'German 859',
 'Gia 722',
 'Giada 826',
 'Giana 633',
 'Giancarlo 635',
 'Gianna 86',
 'Gianni 543',
 'Gideon 534',
 'Gilbert 728',
 'Gilberto 663',
 'Gillian 832',
 'Gina 854',
 'Giovani 613',
 'Giovanna 780',
 'Giovanni 140',
 'Giovanny 676',
 'Giselle 136',
 'Gisselle 653',
 'Giuliana 875',
 'Glenn 864',
 'Gloria 431',
 'Gordon 946',
 'Grace 21',
 'Gracelyn 683',
 'Gracie 99',
 'Grady 283',
 'Graham 323',
 'Grant 142',
 'Grayson 188',
 'Gregory 236',
 'Greta 694',
 'Gretchen 945',
 'Greyson 381',
 'Griffin 242',
 'Guadalupe 296',
 'Guillermo 470',
 'Gunnar 540',
 'Gunner 471',
 'Gustavo 342',
 'Gwendolyn 586',
 'Hadassah 988',
 'Hadley 414',
 'Haiden 773',
 'Hailee 456',
 'Hailey 25',
 'Hailie 990',
 'Haleigh 728',
 'Haley 101',
 'Halle 506',
 'Hallie 510',
 'Hamza 760',
 'Hana 827',
 'Hanna 367',
 'Hannah 17',
 'Harley 415',
 'Harley 592',
 'Harmony 314',
 'Harold 737',
 'Harper 297',
 'Harper 860',
 'Harrison 219',
 'Harry 644',
 'Hassan 792',
 'Haven 631',
 'Hayden 126',
 'Hayden 76',
 'Haylee 234',
 'Hayley 382',
 'Haylie 497',
 'Hazel 343',
 'Heath 716',
 'Heather 487',
 'Heaven 275',
 'Hector 181',
 'Heidi 289',
 'Heidy 946',
 'Helen 371',
 'Helena 612',
 'Henry 78',
 'Hezekiah 929',
 'Hillary 715',
 'Holden 358',
 'Holly 365',
 'Hope 225',
 'Houston 880',
 'Howard 903',
 'Hudson 176',
 'Hugh 998',
 'Hugo 389',
 'Humberto 805',
 'Hunter 54',
 'Ian 80',
 'Ibrahim 589',
 'Ignacio 814',
 'Iliana 703',
 'Imani 384',
 'Immanuel 904',
 'India 815',
 'Ingrid 545',
 'Ireland 834',
 'Irene 636',
 'Iris 341',
 'Irvin 720',
 'Isaac 37',
 'Isabel 96',
 'Isabela 533',
 'Isabell 790',
 'Isabella 2',
 'Isabelle 93',
 'Isai 734',
 'Isaiah 42',
 'Isaias 496',
 'Ishaan 851',
 'Isiah 446',
 'Isis 607',
 'Isla 623',
 'Ismael 349',
 'Israel 210',
 'Issac 377',
 'Itzel 383',
 'Ivan 132',
 'Ivy 298',
 'Iyana 997',
 'Izabella 231',
 'Izabelle 958',
 'Izaiah 428',
 'Izayah 995',
 'Jabari 771',
 'Jace 180',
 'Jacey 802',
 'Jack 39',
 'Jackson 32',
 'Jacob 1',
 'Jacoby 423',
 'Jacqueline 152',
 'Jacquelyn 794',
 'Jada 110',
 'Jade 129',
 'Jaden 472',
 'Jaden 88',
 'Jadiel 874',
 'Jadon 473',
 'Jadyn 396',
 'Jadyn 823',
 'Jaeden 610',
 'Jaelyn 330',
 'Jaelynn 517',
 'Jagger 954',
 'Jaida 518',
 'Jaiden 168',
 'Jaiden 520',
 'Jaidyn 565',
 'Jaidyn 802',
 'Jaime 321',
 'Jair 852',
 'Jairo 556',
 'Jakayla 675',
 'Jake 112',
 'Jakob 309',
 'Jakobe 930',
 'Jalen 317',
 'Jaliyah 544',
 'Jamal 568',
 'Jamar 718',
 'Jamarcus 793',
 'Jamari 391',
 'Jamarion 485',
 'James 17',
 'Jameson 382',
 'Jamie 263',
 'Jamie 671',
 'Jamir 767',
 'Jamison 526',
 'Jamiya 991',
 'Jamya 746',
 'Jan 961',
 'Janae 795',
 'Jane 390',
 'Janelle 372',
 'Janessa 571',
 'Janet 716',
 'Janiah 798',
 'Janiya 359',
 'Janiyah 356',
 'Jaquan 806',
 'Jaqueline 614',
 'Jared 197',
 'Jaron 819',
 'Jarrett 894',
 'Jase 643',
 'Jasiah 752',
 'Jaslene 376',
 'Jaslyn 887',
 'Jasmin 224',
 'Jasmine 43',
 'Jason 60',
 'Jasper 452',
 'Javier 166',
 'Javion 573',
 'Javon 447',
 'Jax 692',
 'Jaxon 154',
 'Jaxson 268',
 'Jay 395',
 'Jayce 384',
 'Jaycee 652',
 'Jayda 258',
 'Jaydan 886',
 'Jayden 11',
 'Jayden 176',
 'Jaydin 745',
 'Jaydon 434',
 'Jayla 117',
 'Jaylah 804',
 'Jaylan 981',
 'Jaylee 692',
 'Jayleen 608',
 'Jaylen 184',
 'Jaylen 857',
 'Jaylene 644',
 'Jaylin 521',
 'Jaylin 590',
 'Jaylon 598',
 'Jaylyn 810',
 'Jaylynn 514',
 'Jayson 341',
 'Jayvion 977',
 'Jayvon 950',
 'Jazlene 831',
 'Jazlyn 378',
 'Jazlynn 730',
 'Jazmin 205',
 'Jazmine 242',
 'Jazmyn 741',
 'Jean 914',
 'Jefferson 599',
 'Jeffery 510',
 'Jeffrey 198',
 'Jenna 107',
 'Jennifer 84',
 'Jenny 601',
 'Jensen 999',
 'Jeramiah 876',
 'Jeremiah 69',
 'Jeremy 129',
 'Jerimiah 985',
 'Jermaine 501',
 'Jerome 616',
 'Jerry 320',
 'Jesse 110',
 'Jessica 59',
 'Jessie 541',
 'Jessie 626',
 'Jesus 79',
 'Jett 529',
 'Jewel 896',
 'Jillian 174',
 'Jimena 398',
 'Jimmy 355',
 'Joanna 283',
 'Joaquin 275',
 'Jocelyn 67',
 ...]

## 2- NLTK

NLTK is one of the major NLP packages in Python. It is targeted at learners rather than being a production library which makes a good starting point for our purposes.

The first step is to import nltk then make sure that all the necessary files are downloaded.

In [ ]:
import nltk
nltk.download("all", quiet=True)

If you are running on your personal machine (not within Google colab), you only need to do this once. 

NLTK offers a special module called "book" which can be imported using ```from nltk.book import *``` 

After printing a welcome message, it loads the text of several books (this will take a few seconds).

In [ ]:
from nltk.book import *

This module contains a number of Corpora that are ready to practice on. The Corpora are named: *text1* - *text9*

In [ ]:
text1

In [ ]:
text2

###  Searching Text
There are many ways to examine the context of a text apart from simply reading it. A concordance view shows us every occurrence of a given word, together with some context.

In [ ]:
text1.concordance("true")

In [ ]:
help(nltk.Text.concordance)

Try it yourself. Let's find more about the words: ["often", "test", "extreme"] is text2

In [ ]:
# Your code goes here

A concordance permits us to see words in context. For example, we saw that monstrous occurred in contexts such as the \_\_\_ pictures and a \_\_\_ size . 

What other words appear in a similar range of contexts? We can find out by appending the term similar to the name of the text in question, then inserting the relevant word in parentheses:

In [ ]:
text1.similar("monstrous")

In [ ]:
text2.similar("monstrous")

Observe that we get different results for different texts. Austen uses this word quite differently from Melville; for her, monstrous has positive connotations, and sometimes functions as an intensifier like the word very.

The method ```common_contexts``` allows us to examine just the contexts that are shared by two or more words, such as monstrous and very.

In [ ]:
text1.common_contexts(["monstrous", "true"])

Your Turn: pick another pair of words and compare their usage in two different texts, using the ```similar()``` and ```common_contexts()``` functions.

In [ ]:
text1.similar("benevolent")

In [ ]:
# Your code goes here

# find the common contexts in which the words: great and dangerous are used in text1


# find the common contexts in which the words: benevolent and fish are used in text1

It is one thing to automatically detect that a particular word occurs in a text, and to display some words that appear in the same context. 

However, we can also determine the location of a word in the text: how many words from the beginning it appears. This positional information can be displayed using a dispersion plot. Each stripe represents an instance of a word, and each row represents the entire text.

In [ ]:
text4.dispersion_plot(["citizens", "democracy", "freedom", "duties", "America"])

Try more words (e.g., liberty, constitution), and different texts.

In [ ]:
# Your code goes here


For these plots to work, it is assumed that ```numpy``` and ```matplotlib``` are installed.

###   Counting Vocabulary
The most obvious fact about texts that emerges from the preceding examples is that they differ in the vocabulary they use. 

Let's begin by finding out the length of a text from start to finish, in terms of the words and punctuation symbols that appear. 

Let's find the number of words in the book of Genensis:

In [ ]:
len(text3)

So Genesis has 44,764 words and punctuation symbols, or "tokens." 

This includes duplicate tokens. To find the number of unique words, we use the ```set``` data structure as follows:

In [ ]:
print(set(text3))

and to get a sorted set, we use the Python ```sorted()``` function:

In [ ]:
print(sorted(set(text3)))

In [ ]:
len(set(text3))

Although it has 44,764 tokens, this book has only 2,789 distinct words, or "word types." 

Now, let's calculate a measure of the lexical richness of the text. The next example shows us that the number of distinct words is just 6% of the total number of words, or equivalently that each word is used 16 times on average

In [ ]:
len(set(text3)) / len(text3)

In [ ]:
len(text3)/len(set(text3))

Next, let's focus on particular words. We can count how often a word occurs in a text, and compute what percentage of the text is taken up by a specific word:

In [ ]:
text3.count("smote")

In [ ]:
100 * text4.count('a') / len(text4)

Your Turn: How many times does the word *lol* appear in text5? How much is this as a percentage of the total number of words in this text?

In [ ]:
# Your code goes here

To simplify things, let's create a functions for calculating lexical diversity

In [2]:
def lexical_diversity(text):
  return len(set(text)) / len(text)

def percentage(count, total):
  return 100 * count / total

We can go ahead and use these functions, let's find the number of tokens, the number of types, the lexical diversity for for the for the following:

In [ ]:
from nltk.corpus import brown

print(f"The type of brown is: {type(brown)}")

len(brown.words()), len(set(brown.words())), lexical_diversity(brown.words())

In [ ]:
brown.paras()[:10]

In [ ]:
print(brown.raw()[:10])
print(brown.words()[:10])
print(brown.sents()[:2])
print(brown.paras()[:2])



###  Computing with Language: Simple Statistics
Now, we pick up the question of what makes a text distinct, and use automatic methods to find characteristic words and expressions of a text.

#### Frequency Distributions
How can we automatically identify the words of a text that are most informative about the topic and genre of the text? 

Imagine how you might go about finding the 50 most frequent words of a book.

Since we often need frequency distributions in language processing, NLTK provides built-in support for them. Let's use a ```FreqDist()``` to find the 50 most frequent words of Moby Dick:

In [ ]:
fdist1 = FreqDist(text1) 
print(fdist1)

In [ ]:
fdist1.most_common(50)

To find the frequency of a particular word, you can can access it using the word string as index, the output of FreqDist is a dictionary.

In [ ]:
fdist1['whale']

Your Turn: What are the top 20 tokens in text2.

In [ ]:
# Your code goes here

Remember, we have calculated the frequencies in Lab 1 in pure Python.

Let's return to our task of finding words that characterize a text. 

Notice that the long words in *text4* reflect its national focus — constitutionally, transcontinental — whereas those in text5 reflect its informal content: boooooooooooglyyyyyy and yuuuuuuuuuuuummmmmmmmmmmm. 

Have we succeeded in automatically extracting words that typify a text? Well, these very long words are often hapaxes (i.e., unique) and perhaps it would be better to find frequently occurring long words. 

This seems promising since it eliminates frequent short words (e.g., the) and infrequent long words (e.g. antiphilosophists). 

Here are all words from the chat corpus that are longer than seven characters, that occur more than seven times:

In [ ]:
fdist5 = FreqDist(text5)
sorted(w for w in set(text5) if len(w) > 7 and fdist5[w] > 7)

###   Counting Other Things
Counting words is useful, but we can count other things too. For example, we can look at the distribution of word lengths in a text, by creating a ```FreqDist``` out of a long list of numbers, where each number is the length of the corresponding word in the text:

In [ ]:
[len(w) for w in text1]

In [ ]:
fdist = FreqDist(len(w) for w in text1)
fdist

In [ ]:
[w for w in text1 if len(w) == 20]

The result is a distribution containing a quarter of a million items, each of which is a number corresponding to a word token in the text. But there are at most only 20 distinct items being counted, the numbers 1 through 20, because there are only 20 different word lengths. I.e., there are words consisting of just one character, two characters, ..., twenty characters, but none with twenty one or more characters. 


One might wonder how frequent the different lengths of word are (e.g., how many words of length four appear in the text, are there more words of length five than length four, etc). We can do this as follows:

In [ ]:
fdist.most_common(n=5)

In [ ]:
fdist.max()

In [ ]:
fdist

In [ ]:
fdist.freq(3)

From this we see that the most frequent word length is 3, and that words of length 3 account for roughly 50,000 (or 20%) of the words making up the book. 


Although we will not pursue it here, further analysis of word length might help us understand differences between authors, genres, or languages.

### Functions Defined for NLTK's Frequency Distributions

Example |	Description
--- | ---
`fdist = FreqDist(samples)` |	create a frequency distribution containing the given samples
`fdist[sample] += 1`	| increment the count for this sample
`fdist['monstrous']`	| count of the number of times a given sample occurred
`fdist.freq('monstrous')`	| frequency of a given sample
`fdist.N()`	| total number of samples
`fdist.most_common(n)`	| the n most common samples and their frequencies
`for sample in fdist:`	| iterate over the samples
`fdist.max()`	| sample with the greatest count
`fdist.tabulate()`	| tabulate the frequency distribution
`fdist.plot()`	| graphical plot of the frequency distribution
`fdist.plot(cumulative=True)`	| cumulative plot of the frequency distribution
`fdist1 \|= fdist2`	| update fdist1 with counts from fdist2
`fdist1 < fdist2`	| test if samples in fdist1 occur less frequently than in fdist2

###   Exercise 2.1

a. How many words are there in text2? How many distinct words are there?

In [1]:
print("There are {} words in text2".format(len(text2)))
print("There are {} distinct words in text2".format(len(set(text2))))

NameError: name 'text2' is not defined

b. Compare the lexical diversity scores for humor (text6) and romance fiction (text2). Which genre is more lexically diverse?

In [ ]:
print("The lexical diversity of text6 (humour) is {}".format(lexical_diversity(text6)))
print("The lexical diversity of text2 (romance) is {}".format(lexical_diversity(text2)))

c. Produce a dispersion plot of the four main protagonists in Sense and Sensibility: Elinor, Marianne, Edward, and Willoughby. What can you observe about the different roles played by the males and females in this novel? Can you identify the couples?

In [ ]:
# Your code goes here
text2.dispersion_plot(["Elinor", "Edward", "Marianne", "Willoughby"])

d. The first sentence of text3 is provided to you in the variable sent3. The index of *the* in sent3 is 1, because sent3[1] gives us 'the'. What are the indexes of the two other occurrences of this word in sent3?

In [ ]:
print(sent3)
print([idx for idx, word in enumerate(sent3) if word == 'the'])

e. Find all the four-letter words in the Chat Corpus (text5). With the help of a frequency distribution (FreqDist), show these words in decreasing order of frequency.

In [ ]:
import re
fd = FreqDist(w.lower() for w in text5 
              if len(w)==4 and re.match(r"[a-zA-Z]{4}", w))
fd.most_common()

f. Print all the uppercase words in Monty Python and the Holy Grail (text6)?

In [ ]:
[word for word in text6.tokens if word.isupper()]

g. Write expressions for finding all words in text6 that meet the conditions listed below. The result should be in the form of a list of words

* Ending in ise
* Containing the letter z
* Containing the sequence of letters pt
* Having all lowercase letters except for an initial capital (i.e., titlecase)

In [ ]:
# Ending in ise
print([word for word in text6.tokens if word[-3:] == 'ise'])

# Containing the letter z
print([word for word in text6.tokens if 'z' in word])

# Containing the sequence of letters pt
print([word for word in text6.tokens if 'pt' in word])

# Having all lowercase letters except for an initial capital (i.e., titlecase)
print([word for word in text6.tokens if word.istitle()])

### Corpora

Practical work in Natural Language Processing typically uses large bodies of linguistic data, or corpora.

### Accessing Text Corpora
A text corpus is a large body of text. Many corpora are designed to contain a careful balance of material in one or more genres. 

We look at various pre-defined texts that we accessed by typing ```from nltk.book import *```. However, since we want to be able to work with other texts, we now examine a variety of text corpora. 

NLTK provides access to a number of well known Corpora as well as allows us to build our own. We will examine the Corpora that are made availabe to us first.

**Gutenberg Corpus**

NLTK includes a small selection of texts from the Project Gutenberg electronic text archive, which contains some 25,000 free electronic books, hosted at http://www.gutenberg.org/. which can be accessed as follows

In [ ]:
from nltk.corpus import gutenberg

we can find the list of ducuments included in this corpus as follows:

In [ ]:
gutenberg.fileids()

In [ ]:
print(type(gutenberg))

The Corpus is an instance of the class ```PlaintextCorpusReader```

To be able to use the ```concordance``` method we saw earlier, we need to load the words as a ```Text``` object as follows:

In [ ]:
emma = gutenberg.words(gutenberg.fileids()[0])
emma_text = nltk.Text(emma)

In [ ]:
emma_text.concordance("dry")

### Exercise 2.2

Find the longest word in the file *chesterton-thursday.txt*

In [ ]:
chesterton_thursday = gutenberg.words('chesterton-thursday.txt')
longest = ''
for word in chesterton_thursday:
  if len(word) > len(longest):
    longest = word
longest

NLTK offers a number of of Corpora, worth mentioning are the following:

package name | Corpus name 
--- | --- 
webtext | Web Text 
nps_chat | Instant messaging sessions 
brown | Brown Corpus 
reuters | Reuters Corpus 
inaugural | Inaugural Address Corpus

Summary of basic Corpus methods defined in NLTK

Example	| Description
--- | ---
`fileids()`	| the files of the corpus
`fileids([categories])`	| the files of the corpus corresponding to these categories 
`categories()`	| the categories of the corpus
`categories([fileids])`	| the categories of the corpus corresponding to these files
`raw()`	| the raw content of the corpus
`raw(fileids=[f1,f2,f3]) `|	the raw content of the specified files
`raw(categories=[c1,c2])` |	the raw content of the specified categories
`words()`	| the words of the whole corpus
`words(fileids=[f1,f2,f3])` |	the words of the specified fileids
`words(categories=[c1,c2])`|	the words of the specified categories
`sents()`	| the sentences of the whole corpus
`sents(fileids=[f1,f2,f3])` |	the sentences of the specified fileids
`sents(categories=[c1,c2])`	| the sentences of the specified categories
`abspath(fileid)`	| the location of the given file on disk
`encoding(fileid)`	| the encoding of the file (if known)
`open(fileid)`	| open a stream for reading the given corpus file
`root` |	if the path to the root of locally installed corpus
`readme()`	| the contents of the README file of the corpus

NLTK's built in Corpora are good for learning the concepts, but eventually, we would like to operate on our own data. 

Text data in the wild comes in many formats including: plain text files, PDF, DOCX, html, json (twitter), etc.


The Python ecosystem is rich with packages that makes it easy to access the different types of files and APIs.

### Tokenization

For analysis and further processing, we want to break up the string into words and punctuation. This step is called tokenization, and it produces our familiar structure, a list of words and punctuation.

A sentence or data can be split into words using the method ```word_tokenize()```:

In [ ]:
from nltk.tokenize import word_tokenize

text = "All work and no play makes jack a dull boy, all work and no play"
word_tokens = word_tokenize(text)
print(word_tokens)

In [ ]:
word_text = nltk.Text(word_tokens)
word_text.vocab().most_common(20)

The same principle can be applied to sentences. Simply change the to
```sent_tokenize()``` We have added two sentences to the variable data:

In [ ]:
from nltk.tokenize import sent_tokenize, word_tokenize

data = "All work and no play makes jack dull boy. All work and no play makes jack a dull boy."
sent_tokenize(data)

### Exercise 2.3

What is the longest word in the provided article bellow?

In [ ]:
# We grab the article HTML
from urllib import request

url = "https://www.technologyreview.com/2021/03/17/1020811/better-tech-government-pandemic-united-states/"

response = request.urlopen(url)
print(response.code)

raw = response.read().decode('utf8')
print(type(raw))
print(len(raw))

In [ ]:
# Then we parse the response
from bs4 import BeautifulSoup

parsed_text = BeautifulSoup(raw, 'html.parser').get_text()

In [ ]:
def find_longest_word(tokens):
  longest = ''
  for token in tokens:
    if len(token) > len(longest):
      longest = token
  return longest

tokenized_text = word_tokenize(parsed_text[241122:253902])

find_longest_word(tokenized_text)

### Stop words
English text may contain stop words like ‘the’, ‘is’, ‘are’. Stop words can be filtered from the text to be processed. There is no universal list of stop words in NLP research, however the NLTK module contains a list of stop words. Now you will learn how to remove stop words using the NLTK. 

We start with the code from the previous section with tokenized words.

In [ ]:
from nltk.corpus import stopwords
stopwords.words('english')

In [ ]:
from nltk.tokenize import sent_tokenize, word_tokenize
from nltk.corpus import stopwords # We imported auxiliary corpus provided with NLTK

text = "All work and no play makes jack dull boy. All work and no play makes jack a dull boy."

stopWords = stopwords.words('english')

words = word_tokenize(data.lower())

wordsFiltered = [w for w in words if w not in stopWords]

(wordsFiltered) # Print the filtered text

### Exercise 2.4

using the variable from `parsed_text` from Exercise 3, find the most common 10 words before and after removing the stop words

In [ ]:
tokenized_text = word_tokenize(parsed_text[241122:253902])
tokenized_text = [word for word in tokenized_text if word.isalpha()]

top10_words_before = FreqDist(tokenized_text).most_common(10)
print([word for word, freq in top10_words_before])

tokenized_text_filtered = [word for word in tokenized_text if word not in stop_words]
top10_words_after = FreqDist(tokenized_text_filtered).most_common(10)
print([word for word, freq in top10_words_after])

### Stemming

Stemmers

NLTK includes several off-the-shelf stemmers, and if you ever need a stemmer you should use one of these in preference to crafting your own using regular expressions, since these handle a wide range of irregular cases. The Porter and Lancaster stemmers follow their own rules for stripping affixes. 

Observe that the Porter stemmer correctly handles the word lying (mapping it to lie), while the Lancaster stemmer does not.

In [ ]:
from nltk import PorterStemmer, LancasterStemmer

porter = PorterStemmer()

raw = """DENNIS: Listen, strange women lying in ponds distributing swords
 is no basis for a system of government.  Supreme executive power derives from
 a mandate from the masses, not from some farcical aquatic ceremony."""

tokens = word_tokenize(raw)

[porter.stem(t) for t in tokens]

In [ ]:
lancaster = LancasterStemmer()

[lancaster.stem(t) for t in tokens]

Stemming is not a well-defined process, and we typically pick the stemmer that best suits the application we have in mind. 

**NOTE:**
Stemming is an important step for traditional statistical machine learning systems, however for deep learning based methods, stemming is not used.

### Lemmatization

The WordNet lemmatizer only removes affixes if the resulting word is in its dictionary. This additional checking process makes the lemmatizer slower than the above stemmers. Notice that it doesn't handle lying, but it converts women to woman.

In [ ]:
wnl = nltk.WordNetLemmatizer()
[wnl.lemmatize(t) for t in tokens]

Compare the results of stemming and lemmatization.

### Exercise 2.5

Read the gutenberg Corpus, tokenize it, and print the list of all wh-word types that occur. (wh-words in English are used in questions, relative clauses and exclamations: who, which, what, and so on.) Print them in order. Are any words duplicated in this list, because of the presence of case distinctions or punctuation?

In [ ]:
# I picked bryant-stories.txt
wh_words = ['why', 'who', 'which', 'what', 'where', 'when', 'how']
tokens = gutenberg.words('bryant-stories.txt')
wh_tokens = [token for token in tokens if token.lower() in wh_words]
print(wh_tokens)

## 3- Pandas

Pandas is a ubiquitous python library for efficiently handling tabular data. It is used loading and cleaning up text data.

**Note**: 
* The practice here is minimal, for a more comprehensive coverage of Pandas for textual data check 
https://www.youtube.com/watch?v=hI1RZgbcW7g
* Being able to utilize basic Pandas fuctionality will become useful in the assignments.



Pandas offers two data types, Series and DataFrames.

In [ ]:
import pandas as pd

In [ ]:
# data is stored as object internally
print(pd.Series(["a", "b", "c"]))

# data is stored as string internally
print(pd.Series(["a", "b", "c"], dtype="string"))

In [ ]:
s = pd.Series(["a", None, "b"], dtype="string")
print(s)

In [ ]:
print(s.str.count("a"))

In [ ]:
print(s.dropna().str.count("a"))

In [ ]:
s.str.isdigit()

In [ ]:
s.str.match("a")

### String operations

Series is equipped with a set of string processing methods that make it easy to operate on each element of the array. e.g. methods to exclude missing/NA values automatically. 

These are accessed via the str attribute and generally have names matching the equivalent (scalar) built-in string methods:

In [ ]:
import numpy as np
s = pd.Series(["A", "B", "C", "Aaba", "Baca", np.nan, "CABA", "dog", "cat"], dtype="string")
print(s)

In [ ]:
print(s.str.lower())

print(s.str.upper())

In [ ]:
s.str.len()

### Splitting and replacing strings

In [ ]:
s2 = pd.Series(["a_b_c", "c_d_e", np.nan, "f_g_h"], dtype="string")
print(s2)

In [ ]:
s2.str.split("_")

Elements in the split lists can be accessed using get or [] notation:

In [ ]:
s2.str.split("_").str.get(1)

It is easy to expand this to return a DataFrame using expand

In [ ]:
print(s2.str.split("_", expand=True))

It is also possible to limit the number of splits:

In [ ]:
print(s2.str.split("_", expand=True, n=1))

## 4- Spacy - NLP in production

SpaCy is another open-source library for Natural Language Processing (NLP) in Python.

spaCy is designed specifically for production (not for learning the concepts) use and helps you build applications that process and “understand” large volumes of text.

The way tokenization is handled in Spacy is summerized in the following diagram:

![](https://spacy.io/tokenization-9b27c0f6fe98dcb26239eba4d3ba1f3d.svg)

In [ ]:
# upgrade spacy to the latest version
!pip install -U pip setuptools wheel
!pip install -U spacy
!python -m spacy download en_core_web_sm

In [ ]:
import spacy

nlp = spacy.load("en_core_web_sm")
doc = nlp("Apple isn't looking at buying U.K. startup for $1 billion")
print([token.text for token in doc])

Lemmatization in Spacy

In [ ]:
print([token.lemma_ for token in doc])

Notice the difference between the tokens and lemmas!

## 5- WordClouds

Word clouds are a visualization technique which represent the frequency or the importance of each word.

In [ ]:
!pip install wordcloud

In [ ]:
from wordcloud import WordCloud, STOPWORDS, ImageColorGenerator
from matplotlib import pyplot as plt


test_corpus2 = " ".join(text1.tokens)


wordcloud = WordCloud(stopwords=STOPWORDS, background_color="white").generate(test_corpus2)

plt.imshow(wordcloud, interpolation='bilinear')
plt.axis("off")
plt.show()

### Optional Excercise

Generate a word cloud for the book at https://www.gutenberg.org/cache/epub/19017/pg19017.txt

## 6- References 
* https://docs.python.org/3/library/stdtypes.html#text-sequence-type-str